* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* Text design */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}


/* Paragraph CSS */

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* Logo Styling */
#logo {
    width: 80px;
}

/* Button Syuling */

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


/* Sections CSS */

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 10px 0;
}

body {
    width: 100%;
}


/* Header CSS */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 200ms ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088876;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    height: 3px;
    background: #088876;
    width: 30%;
    position: absolute;
    left: 20px;
    bottom: -4px;
}

#bar {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}

/* Hero section */

#hero {
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088876;
}

#hero button {
    background-image: url(img/button.png);
    border-style: none;
    background-color: transparent;
    padding: 15px 80px 15px 65px;
    color: #088876;
    font-weight: 700;
    font-size: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}


/* Feature CSS */

#feature {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 65, 220, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    color: #088876;
    background-color: rgb(218, 232, 236);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(230, 202, 230);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(190, 248, 175);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(202, 224, 230);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(230, 202, 230);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(240, 214, 174);
}


/* Product Section */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    color: rgb(243, 181, 25);
    font-size: 12px;
}

#product1 .pro .des h4 {
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
    color: #088178;
}

#product1 .pro .cart {
    color: #088178;
    width: 40px;
    height: 40px;
    background-color: #c2f3f0;
    border-radius: 100%;
    line-height: 40px;
    border: 1px solid #088178;
    position: absolute;
    bottom: 20px;
    right: 15px;
}


/* Banner CSS */

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
}

#banner h2 span {
    color: rgb(202, 36, 36);
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}


/* Small Banner design */

#sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}


/* Banner3 styles */

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

#banner3 h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}


/* newsletter design */

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #041e42;
}

#newsletter h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

#newsletter p {
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    width: 100%;
    height: 3.13rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Footer design */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer #logo {
    margin-bottom: 20px;
}

footer .last-logo {
    width: 100px;
    margin-bottom: 20px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin-bottom: 8px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 15px;
}

footer .follow i {
    padding-right: 4px;
    color: #222;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 15px 0 0 0;
}

footer .follow i:hover, footer a:hover {
    color: #088178;
}

footer .copyright {
    text-align: center;
    width: 100%;
}


/* SHOP Page */
#page-header {
    background-image: url(img/banner/b1.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#page-header h2, #page-header p {
    color: #fff;
}

/* Page-Transition */
#pageTransition {
    text-align: center;
}

#pageTransition a {
    border-radius: 4px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #088178;
    color: #fff;
    font-weight: 600;
}

/* Single Product Detail page */
#ProDetails {
    display: flex;
    margin-top: 20px;
}

#ProDetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details {
    width: 50%;
    padding-top: 30px;
}

.single-pro-details h4 {
    padding: 30px 0 20px 0;
}

.single-pro-details h2 {
    font-size: 25px;
}

.single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.single-pro-details input {
    width: 50px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-pro-details input:focus {
    outline: none;
}

button {
    background-color: #088876;
    color: #fff;
}

.single-pro-details span {
    line-height: 25px;
}

/* Blog Page */
#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-datails a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-datails a::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -50px;
}

#blog .blog-datails a:hover {
    color: #088178;
}

#blog .blog-datails a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    color: #c9cbce;
    font-weight: 700;
    z-index: -1;
}

/* About page */
#page-header.about-header {
    background: url(img/about/banner.png);
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    margin-right: 40px;
}

#about-app {
    text-align: center;
}

#about-app video {
    width: 70%;
    margin: 30px auto 0 auto;
    border-radius: 40px;
}

/* Contact Page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span, #form-details span {
    font-size: 12px;
}

#contact-details .details h2, #form-details h2 {
    padding: 20px 0;
    font-size: 26px;
    line-height: 35px;
}

#contact-details .details h3 {
    margin-bottom: 10px;
}

#contact-details .details li {
    display: flex;
    align-items: center;
    list-style: none;
}

#contact-details .details li i {
    margin-right: 20px;
}

#contact-details .map {
    width: 50%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form-details form input, #form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088176;
    color: #fff;
}

#form-details .people {
    padding-left: 60px;
}

#form-details .people div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    object-fit: cover;
}

#form-details .people div p {
    font-size: 13px;
    margin: 0;
    line-height: 25px;
}

#form-details .people div p span {
    font-weight: 600;
    color: black;
    font-size: 16px;
    display: block;
}

/* Cart Page */
#cart{
    overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4), 
#cart table td:nth-child(5), 
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table tbody tr td{
    padding: 15px;
    font-size: 14px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h4{
    margin-bottom: 15px;
}
#coupon input{
    padding: 15px 20px 15px 10px;
    border: 1px solid #e1e1e1;
}
#coupon button{
    background-color: #088178;
    color: #fff;
}
#cart-total{
    width: 50%;
    padding-bottom: 20px;
}
#cart-total table td:nth-child(1){
padding-top: 20px;
width: 250px;
}
#cart-total button{
    margin-top: 20px;
    background-color: #088178;
    color: #fff;
}
/* Media Query */
/* For Tablets */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 35px;
        color: #1a1a1a;
        font-size: 18px;
    }

    #bar {
        display: flex;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 .banner-box {
        width: 27%;
    }

    #newsletter .form {
        width: 70%;
    }

    #logo {
        margin-bottom: 10px;
    }

    /* Blog page */
    #blog {
        padding: 100px 80px 0 80px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 40px;
    }

    /* contact page */
    #form-details {
        padding: 0;
    }

    #form-details .people {
        padding-left: 0;
    }
}

/* for mobiles */
@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    #header {
        padding: 10px 30px;
    }

    .section-m1 {
        margin: 20px 0;
    }

    #logo {
        width: 40px;
    }

    #mobile i {
        font-size: 16px;
    }

    #navbar {
        width: 150px;
    }

    #hero {
        padding: 0 20px;
        background-position: 65%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        width: 140px;
        height: 160px;
        margin: 10px;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 25vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 25vh;
    }

    #banner3 {
        justify-content: center;
    }

    #banner3 .banner-box {
        width: 70%;
        margin: 10px 0;
    }

    #newsletter .form {
        width: 90%;
    }

    button.normal {
        padding: 5px 10px;
    }

    button.white {
        padding: 8px 14px;
    }

    #newsletter {
        height: 20vh;
    }

    #newsletter .form, #newsletter input {
        width: 90%;
        height: 2rem;
    }

    #logo {
        margin: 12px 0 5px 0
    }

    /* Single Product */
    #ProDetails {
        display: flex;
        flex-direction: column;
    }

    #ProDetails .single-pro-image {
        width: 100%;
    }

    .single-pro-details {
        width: 100%;
    }

    /* Blog page */
    #blog {
        padding: 100px 50px 0 50px;
    }

    #about-app a {
        text-decoration: none;
        color: #088178;
    }

    #blog .blog-box {
        align-items: flex-start;
        flex-direction: column;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 30px;
    }

    /* About page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #about-app video {
        width: 100%;
        margin: 0;
        border-radius: 30px;
    }

    /* contact page */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
    }

    #contact-details .map {
        width: 100%;
        margin: 20px 0 40px 0;
    }

    #form-details {
        flex-direction: column;
    }

    #form-details form {
        width: 100%;
    }

    #form-details .people {
        margin-top: 40px;
    }
    /* Cart Page */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
        margin-bottom: 30px;
    }
    #cart-total {
        width: 100%;
        padding-bottom: 20px;
    }
}